.ad {
    width: 1400px;
    height: 497px;
    margin: 10px auto 0;

    .single-item {
        margin: 0;
        cursor: pointer;

        .slick-slide {
            outline: none;
        }

        // .slick-arrow {
        //     z-index: 1;
        //     width: 285px;
        //     height: 494px;

        //     &::before {
        //         content: "";
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%,-50%) rotate(-45deg);
        //         width: 15px;
        //         height: 15px;
        //         border: solid 6px $ad_Arrow;
        //         border-width: 2px 0 0 2px;
        //     }

        //     &.slick-prev {
        //         left: 0px;
        //     }

        //     &.slick-next {
        //         right: 0px;
                
        //         &::before {
        //             transform: translate(-50%,-50%) rotate(45deg) scaleX(-1);
        //         }
        //     }
        // }

        .slick-dots {
            bottom: 0px;

            li {
                margin: 0 5px;

                &.slick-active {

                    button {

                        &::before {
                            @include ad_Dot_Active;
                        }
                    }
                }

                button {

                    &::before {
                        width: 15px;
                        height: 15px;
                        @include ad_Dot;
                    }
                }
            }
        }
    }
}