//bg
.bg {
    background: url('../images/bg.jpg') top center;
    background-size: 100%;
}
.bg.inner {
    background: url('../images/gameBG.jpg') top center;
    background-size: 100%;
}

//header
header .forget i {
    background: url('../images/icon/question.png') no-repeat;
    background-size: 100%;
}
header .gameNav .empty,
header .gameNav ol li div {
    background: url('../images/headerNav_02.png');
}
header .gameNav .empty:first-child::before,
header .gameNav ol li::after {
    background: url('../images/headerNav_03.png') no-repeat;
}
header .gameNav .empty:last-child::before,
header .gameNav ol li::before {
    background: url('../images/headerNav_01.png') no-repeat;
}
header .transferInfo .money i {
    background: url('../images/icon/svg/loading_g.svg') no-repeat;
    background-size: 100%;
}

//mainWrap
.mainWrap .title i {
    background: url('../images/icon/mainWrap_quickIcon.png') no-repeat;
    background-size: 600%;
}
.mainWrap .title .star {
    background: url('../images/icon/mainWrap_star.png') no-repeat;
    background-size: contain;
}

//sidebar
.sideBar .goTop i {
    background: url('../images/icon/goTop.png') no-repeat;
    background-size: contain;
}

//footer
footer {
    background: url('../images/footerBG.jpg') no-repeat;
    background-size: cover;
}
footer .twitter {
    background: url('../images/icon/svg/twitter.svg') no-repeat;
    background-size: contain;
}
footer .star {
    background: url('../images/icon/mainWrap_star.png') no-repeat;
    background-size: contain;
}
footer .ag {
    background: url('../images/partner/footer_partner/ag.png') no-repeat center;
}
footer .sa {
    background: url('../images/partner/footer_partner/sa.png') no-repeat center;
}
footer .dg {
    background: url('../images/partner/footer_partner/dg.png') no-repeat center;
}
footer .tpg {
    background: url('../images/partner/footer_partner/tpg.png') no-repeat center;
}
footer .og {
    background: url('../images/partner/footer_partner/og.png') no-repeat center;
}
footer .sp {
    background: url('../images/partner/footer_partner/sp.png') no-repeat center;
}
footer .mg {
    background: url('../images/partner/footer_partner/mg.png') no-repeat center;
}
footer .pp {
    background: url('../images/partner/footer_partner/pp.png') no-repeat center;
}
footer .gh {
    background: url('../images/partner/footer_partner/gh.png') no-repeat center;
}
footer .elk {
    background: url('../images/partner/footer_partner/elk.png') no-repeat center;
}
footer .ftp {
    background: url('../images/partner/footer_partner/ftp.png') no-repeat center;
}
footer .pg {
    background: url('../images/partner/footer_partner/pg.png') no-repeat center;
}
footer .bng {
    background: url('../images/partner/footer_partner/bng.png') no-repeat center;
}
footer .ab {
    background: url('../images/partner/footer_partner/ab.png') no-repeat center;
}
footer .pls {
    background: url('../images/partner/footer_partner/pls.png') no-repeat center;
}
footer .rsg {
    background: url('../images/partner/footer_partner/rsg.png') no-repeat center;
}
footer .bp {
    background: url('../images/partner/footer_partner/bp.png') no-repeat center;
}
footer .redtiger {
    background: url('../images/partner/footer_partner/redtiger.png') no-repeat center;
}
footer .ifun {
    background: url('../images/partner/footer_partner/ifun.png') no-repeat center;
}
footer .redrake {
    background: url('../images/partner/footer_partner/redrake.png') no-repeat center;
}
footer .ely {
    background: url('../images/partner/footer_partner/ely.png') no-repeat center;
}
footer .atux {
    background: url('../images/partner/footer_partner/atux.png') no-repeat center;
}
footer .evoplay {
    background: url('../images/partner/footer_partner/evoplay.png') no-repeat center;
}
footer .sport {
    background: url('../images/partner/footer_partner/sport.png') no-repeat center;
}
footer .png {
    background: url('../images/partner/footer_partner/png.png') no-repeat center;
}
footer .relax {
    background: url('../images/partner/footer_partner/relax.png') no-repeat center;
}
footer .wm {
    background: url('../images/partner/footer_partner/wm.png') no-repeat center;
}
footer .ygg {
    background: url('../images/partner/footer_partner/ygg.png') no-repeat center;
}
footer .net {
    background: url('../images/partner/footer_partner/net.png') no-repeat center;
}
footer .jili {
    background: url('../images/partner/footer_partner/jili.png') no-repeat center;
}
footer .nolimit {
    background: url('../images/partner/footer_partner/nolimit.png') no-repeat center;
}
footer .evo {
    background: url('../images/partner/footer_partner/evo.png') no-repeat center;
}
footer .qs {
    background: url('../images/partner/footer_partner/qs.png') no-repeat center;
}

//jumpWindow ic
.jumpWindow .close_ic {
    background: url('../images/icon/svg/close.svg') no-repeat;
    background-size: 100%;
}
.jumpWindow .flower_ic {
    background: url('../images/icon/jumpWindow_flower.png') no-repeat;
    background-size: contain;
}
.jumpWindow .arrow_ic {
    background: url('../images/icon/arrow_1.png') no-repeat;
    background-size: contain;
}
.jumpWindow .selectBox .arrow_ic {
    background: url('../images/icon/arrow_2.png') no-repeat;
    background-size: contain;
}
//loading
.jumpWindow.loading .content div {
    background: url('../images/icon/svg/loading_b.svg') no-repeat;
    background-size: 100%;
}
.jumpWindow .pageBox .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}

//gameWrap background
.gameWrap .content .banner {
    background: url('../images/gameWrap_TitleBG.png') no-repeat;
    background-size: contain;
}
.gameWrap .search_ic {
    background: url('../images/icon/search.png') no-repeat;
    background-size: contain;
}
.gameWrap .platformBox li {
    background: url('../images/gameWrapNav_02.png');
}
.gameWrap .platformBox li::before {
    background: url('../images/gameWrapNav_01.png');
}
.gameWrap .platformBox li::after {
    background: url('../images/gameWrapNav_03.png');
}
.gameWrap .platformBox li.active {
    background: url('../images/gameWrapNav_02_active.png');
}
.gameWrap .platformBox li.active::before {
    background: url('../images/gameWrapNav_01_active.png');
}
.gameWrap .platformBox li.active::after {
    background: url('../images/gameWrapNav_03_active.png');
}
.gameWrap .gameBox .love {
    background: url('../images/icon/love_1.png') no-repeat;
    background-size: contain;
}
.gameWrap .gameBox .love.active {
    background: url('../images/icon/love_1_active.png') no-repeat;
    background-size: contain;
}
.gameWrap .gameBox.notPlat .love {
    background: url('../images/icon/love_2.png') no-repeat;
    background-size: contain;
}
.gameWrap .gameBox.notPlat .love.active {
    background: url('../images/icon/love_2_active.png') no-repeat;
    background-size: contain;
}

//.slotCenter .slotBody .nav .serach
.slotBody .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat top center;
    background-size: cover;
}
//.pfName按鈕arrow
.slotBody .pfName button i {
    background: url('../images/icon/svg/arrow_w.svg') no-repeat;
    background-size: 100%;
}
//.gameList .love
.slotBody .gameList .textBox .love {
    background: url('../images/icon/svg/love1.svg') no-repeat;
    background-size: 100%;
}
.slotBody .gameList .textBox .love.active {
    background: url('../images/icon/svg/love2.svg') no-repeat;
    background-size: 100%;
}

//evevtTitle
.eventTitle {
    background: url('../images/eventTitleBG.png') no-repeat;
    background-size: cover;
}
//eventBody .side li i
.eventBody .event_ic,
.eventBody .event_ic::before {
    background: url('../images/icon/svg/entire.svg') no-repeat;
    background-size: 100%;
}
//eventDetail .back
.eventDetail .back {
    background: url('../images/icon/event_back.png') no-repeat;
    background-size: contain;
}
.eventDetail .btnBox .twitter {
    background: url('../images/icon/svg/twitter.svg');
    background-size: contain;
}
.eventDetail .btnBox .telegram {
    background: url('../images/icon/svg/telegram.svg');
    background-size: contain;
}
.eventDetail .btnBox .wechat {
    background: url('../images/icon/svg/wechat.svg');
    background-size: contain;
}
.eventDetail .btnBox .facebook {
    background: url('../images/icon/svg/facebook.svg');
    background-size: contain;
}
.eventDetail .btnBox .line {
    background: url('../images/icon/svg/line.svg');
    background-size: contain;
}
.eventDetail .btnBox .link {
    background: url('../images/icon/link.png');
    background-size: contain;
}

//innerSdie .innerNav li i
.innerNav .user_ic,
.innerNav .user_ic::before {
    background: url('../images/icon/svg/innerNav_user.svg') no-repeat;
    background-size: 100%;
}
.innerNav .vip_ic,
.innerNav .vip_ic::before {
    background: url('../images/icon/svg/innerNav_vip.svg') no-repeat;
    background-size: 100%;
}
.innerNav .wallet_ic,
.innerNav .wallet_ic::before {
    background: url('../images/icon/svg/innerNav_wallet.svg') no-repeat;
    background-size: 100%;
}
.innerNav .card_ic,
.innerNav .card_ic::before {
    background: url('../images/icon/svg/innerNav_card.svg') no-repeat;
    background-size: 100%;
}
.innerNav .dealRecord_ic,
.innerNav .dealRecord_ic::before {
    background: url('../images/icon/svg/innerNav_dealRecord.svg') no-repeat;
    background-size: 100%;
}
.innerNav .betRecord_ic,
.innerNav .betRecord_ic::before {
    background: url('../images/icon/svg/innerNav_betRecord.svg') no-repeat;
    background-size: 100%;
}
.innerNav .event_ic,
.innerNav .event_ic::before {
    background: url('../images/icon/svg/innerNav_event.svg') no-repeat;
    background-size: 100%;
}
.innerNav .mail_ic,
.innerNav .mail_ic::before {
    background: url('../images/icon/svg/innerNav_mail.svg') no-repeat;
    background-size: 100%;
}
.innerNav .dividend_ic,
.innerNav .dividend_ic::before {
    background: url('../images/icon/svg/innerNav_dividend.svg') no-repeat;
    background-size: 100%;
}
.innerNav .invite_ic,
.innerNav .invite_ic::before {
    background: url('../images/icon/svg/innerNav_invite.svg') no-repeat;
    background-size: 100%;
}

//.memberWrap .level i
.memberWrap .level .data_ic {
    background: url('../images/icon/svg/data.svg') no-repeat center;
    background-size: 65%;
}
.memberWrap .level .phone_ic {
    background: url('../images/icon/svg/phone.svg') no-repeat center;
    background-size: 65%;
}
.memberWrap .level .bankcard_ic {
    background: url('../images/icon/svg/bankcard.svg') no-repeat center;
    background-size: 65%;
}
.memberWrap .level .mail_ic {
    background: url('../images/icon/svg/mail_w.svg') no-repeat center;
    background-size: 65%;
}
.memberWrap .left .changePhone::before,
.memberWrap .changePassword button::before {
    background: url('../images/icon/edit.png') no-repeat;
    background-size: contain;
}
.memberWrap .right .copy::before {
    background: url('../images/icon/copy.png') no-repeat;
    background-size: contain;
}
.memberWrap .right .qr {
    background: url('../images/icon/qr.png') no-repeat;
    background-size: contain;
}

//vipWrap
.vipWrap {
    background: url('../images/vip_info.png') no-repeat;
    background-size: 100%;
}
.vipHeader .medal {
    background: url('../images/icon/medal.png') no-repeat;
    background-size: 100%;
}
.vipWrap .detailTitle .back {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
.vipWrap .detailCardBox .prev,
.vipWrap .detailCardBox .next {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
.vipWrap .detailCardBox .cardBg {
    background: url('../images/vip_card.png') no-repeat;
    background-size: 100%;
}
.vipWrap .detailCardBox .cardBg.v2 {
    background: url('../images/vip_card_2.png') no-repeat;
    background-size: 100%;
}
.vipWrap .detailCardBox .cardBg.v3 {
    background: url('../images/vip_card_3.png') no-repeat;
    background-size: 100%;
}

//wallet
.walletWrap .platformWallet .re_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: contain;
}
.walletWrap .platformWallet .remind_ic {
    background: url('../images/icon/remind.png') no-repeat;
    background-size: contain;
}

//dealWrap
.dealWrap .waterBox .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
.dealWrap .dealBox .page i,
.dealWrap .waterBox .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}

//.cardMiddle .addCard_ic
.cardMiddle .card .addCard_ic {
    background: url('../images/icon/svg/addCard.svg') no-repeat;
    background-size: 100%;
}
.cardWrap .cardBox .card {
    background: url('../images/bankCard.png') no-repeat;
    background-size: cover;
}
.cardWrap .review {
    background: url('../images/icon/review.png') no-repeat;
    background-size: 100%;
}
.cardWrap .bottomWrap .idImg {
    background: url('../images/icon/photo.png') no-repeat;
    background-size: contain;
}

//.rightSide .smallBoard .arrow
.rightSide .smallBoard .arrow {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}

//.mailWrap.innerMode .title .arrow_ic
.mailWrap.innerMode .title .arrow_ic,
.mailWrap.innerMode .msgTitle .prev,.mailWrap.innerMode .msgTitle .next {
    background: url('../images/icon/svg/arrow_b.svg') no-repeat;
    background-size: contain;
}
.mailWrap .bottom .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}

//.betWrap .fakeTalbe .arrow_ic
.betWrap .fakeTable .arrow_ic {
    background: url('../images/icon/svg/arrow_b.svg') no-repeat;
    background-size: 100%;
}
.betWrap .fakeTable .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}

//eventWrap
.eventWrap .tableWrap .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}

//.depositWrap .top button i
.depositWrap .top .title button i {
    background: url('../images/icon/question_2.png') no-repeat;
    background-size: 100%;
}
//.depositWrap .list i
.depositWrap .list .card_ic {
    background: url('../images/icon/svg/card.svg') no-repeat;
    background-size: 100%;
}
.depositWrap .list .depositIC {
    background: url('../images/icon/deposit_ic.png') no-repeat;
    background-size: 500%;
}
.depositWrap .list .prev,.depositWrap .list .next {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
.depositWrap .bottom .fakeTable .copy::before {
    background: url('../images/icon/copy.png') no-repeat;
    background-size: contain;
}

//.withdrawalWrap .rightSide .trans_arrow
.rightSide .tran_ic {
    background: url('../images/icon/svg/transfer_arrow.svg') no-repeat;
    background-size: 100%;
}
.rightSide .re_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: contain;
}
.rightSide .search_ic::before {
    background: url('../images/icon/svg/search.svg') no-repeat;
    background-size: contain;
}

//.withdrawalWrap .smallTitle reset_ic
.withdrawalWrap .smallTitle .reset_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
//withdrawalWrap .platformBox .db_arrow
.withdrawalWrap .platformBox .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}
.withdrawalWrap .platformBox .remind_ic {
    background: url('../images/icon/remind.png') no-repeat;
    background-size: contain;
}

//transferWrap .walletTitle .reset_ic
.transferWrap .walletTitle .reset_ic {
    background: url('../images/icon/svg/refresh.svg') no-repeat;
    background-size: 100%;
}
.transferWrap .platform .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat;
    background-size: 100%;
}
.transferWrap .platform .remind_ic {
    background: url('../images/icon/remind.png') no-repeat;
    background-size: contain;
}
.transferWrap .platformBox .trans_ic {
    background: url('../images/icon/svg/transfer_arrow.svg') no-repeat;
    background-size: 100%;
}

//helpPage .nav i
.helpPage .nav .arrow_ic {
    background: url('../images/icon/svg/arrow_r.svg') no-repeat;
    background-size: 100%;
}
.helpPage .nav .bulb {
    background: url('../images/icon/svg/bulb.svg') no-repeat;
    background-size: 100%;
}
.helpPage .nav .problem {
    background: url('../images/icon/svg/helpProblem.svg') no-repeat;
    background-size: 100%;
}
.helpPage .nav .aboutUs {
    background: url('../images/icon/svg/aboutus.svg') no-repeat;
    background-size: 100%;
}
.helpPage .nav .downloadIC{
    background: url('../images/icon/download.png') no-repeat;
    background-size: 100%;
}
//helpPage .teachList arrow_ic
.helpPage .teachList .arrow_ic {
    background: url('../images/icon/svg/arrow_b.svg') no-repeat;
    background-size: 100%;
}
//helpPage .img
.helpPage .img.online01 {
    background: url('../images/help/online01.png') no-repeat;
    background-size: 100%;
}
.helpPage .img.online02 {
    background: url('../images/help/online02.png') no-repeat;
    background-size: 100%;
}
.helpPage .img.online03 {
    background: url('../images/help/online03.png') no-repeat;
    background-size: 100%;
}
.helpPage .img.online04 {
    background: url('../images/help/online04.png') no-repeat;
    background-size: 100%;
}
.helpPage .img.online05 {
    background: url('../images/help/online05.png') no-repeat;
    background-size: 100%;
}
.helpPage .upload_ic {
    background: url('../images/icon/svg/help_upload.svg') no-repeat;
    background-size: contain;
}

//register
.registerWrap {
    background: url('../images/registerBG.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.registerWrap .register_ic {
    background: url('../images/icon/register_ic.png');
    background-size: contain;
}
.registerWrap .eye_ic {
    background: url('../images/icon/eye.png') no-repeat;
    background-size: 100%;
}
.registerWrap .date_ic {
    background: url('../images/icon/date.png') no-repeat;
    background-size: contain;
}
.registerWrap .line_ic {
    background: url('../images/icon/line_ic.png') no-repeat;
    background-size: contain;
}

//invite
.inviteWrap .left .copy::before {
    background: url('../images/icon/copy.png') no-repeat;
    background-size: contain;
}
.inviteWrap .right .qr {
    background: url('../images/icon/qr.png') no-repeat;
    background-size: 100%;
}
.inviteWrap .mainImg {
    background: url('../images/invite.jpg') no-repeat;
    background-size: 100%;
}

//point
.pointWrap .fakeTable .page i,
.pointWrap .recordTable .page i {
    background: url('../images/icon/svg/arrow_g.svg') no-repeat;
    background-size: contain;
}
.pointWrap .fakeTable .arrow_ic {
    background: url(../images/icon/svg/arrow_b.svg) no-repeat;
    background-size: 100%;
}

//agentPage
.agentPage .topBanner {
    background: url('../images/agentBn.jpg') no-repeat;
    background-size: 100%;
}

.agentPage .title::before,
.agentPage .title::after {
    background: url('../images/icon/agentTitle.png') no-repeat;
    background-size: 200%;
}

.agentPage .icon_1 {
    background: url('../images/icon/svg/icon-01.svg') no-repeat;
    background-size: 100%;
}

.agentPage .icon_2 {
    background: url('../images/icon/svg/icon-02.svg') no-repeat;
    background-size: 100%;
}

.agentPage .icon_3 {
    background: url('../images/icon/svg/icon-03.svg') no-repeat;
    background-size: 100%;
}

.agentPage .icon_4 {
    background: url('../images/icon/svg/icon-04.svg') no-repeat;
    background-size: 100%;
}

.agentPage .icon_5 {
    background: url('../images/icon/svg/icon-05.svg') no-repeat;
    background-size: 100%;
}

.agentPage .rulePic {
    background: url('../images/icon/rule.png') no-repeat;
    background-size: 100%;
}


////////img↓↓↓↓↓↓↓↓↓


//logo
// header .logo {
//     width: 190px;
//     height: 80px;
//     object-fit: cover;
// }

//banner
.single-item img {
    width: 100%;
}

//入口頁中央遊戲enter .mainWrap .img
.mainWrap .typeList img {
    width: 100%;
    object-fit: contain;
}

//gameWrap img
.gameWrap .gameBox img {
    width: 100%;
    object-fit: contain;
}

//pfName 廠商icon
.pfName img {
    width: auto;
    height: 85%;
}

//.slotBody .gameList img
.slotBody .gameList img {
    width: 100%;
    height: 165px;
}

//.eventList .eventBox img
.eventBox {
    
    .imgBox {
        width: 792px;
        height: 192px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//.eventDetail .imgBox img
.eventDetail {

    .imgBox {
        width: 100%;
        height: 267px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

//.jumpWindow .checkEvent img
.checkEvent {

    .imgBox {
        width: 100%;
        height: 400px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

//register .logo
.registerWrap .title img {
    width: 125px;
    object-fit: contain;
}

//右側小活動中心
.rightSide .smallBoard img {
    width: 100%;
}

//invite
.inviteWrap .bottom img {
    width: 100%;
}

//help
.helpWrap img {
    width: 100%;
}